<% content_for :title, "New movie" %>

<%= render "shared/navbar_movie" %>

<h3>Ingrese datos</h3>

<%= render "form", movie: @movie, clients: @clients %>

<br>

<div class="d-flex align-items-center">
  <%= link_to "Regresar", movies_path, class: "col-3 col-md-1 p-2 mr-2 btn btn-light border" %>
</div>