<% content_for :title, "Editing client" %>

<%= render "shared/navbar_client" %>

<%= render "form", client: @client %>

<br>

<div class="d-flex align-items-center">
  <%= link_to "Regresar", clients_path,  class: "col-1 p-2 mr-2 btn btn-light border" %>
  <%= link_to "Ver",      @client,       class: "col-1 p-2 mx-2 btn btn-primary" %>
</div>