
<% content_for :title, "Clients" %>

<%= render "shared/navbar_client" %>

<div class="text-center justify-content-center">

  <h1>Clientes encontrados</h1>
  
  <div id="clients">
    <div class="table-responsive">
    <table class="table table-striped">

      <thead>
        <tr class="table-success text-start">
          <th scope="col-1">#</th>
          <th scope="col-5">Nombre</th>
          <th scope="col-5">Edad</th>
          <th scope="col-1">Película arrendada</th>
          <th class="col-1  text-center" scope="col">ACCIÓN</th>
        </tr>
      </thead>

      <tbody >
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </tbody>

    </table>
    </div>

    <nav aria-label="Page navigation">
      <ul class="pagination pagination-lg justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
      </ul>
    </nav>

  </div>

</div>